html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #020c1b 45%, #0a192f 55%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.h1-head {
  color: #fff;
  padding: 10px;
  font-size: 50px;
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #45b298;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #45b298;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #45b298;
  color: #fff;
  font-size: 30px;
  padding-bottom: 0px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #45b298;
}

::placeholder {
  color: grey;
  opacity: 1;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  overflow: hidden;
  background-color: #45b298;
  border-radius: 20px;
}

.ul-about {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #45b298;
  border-radius: 20px;
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #020c1b;
  background-image: -webkit-linear-gradient(65deg, #020c1b 45%, #0a192f 55%);
}

footer {
  color: white;
  text-align: center;
  font-family: 'Arial';
  padding: 30px;
}
